*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.o
*.rpm
*.service
*.spec
*.tar.gz
*.tar.xz
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
debian/changelog
debian/control
depcomp
install-sh
Makefile
Makefile.in
missing
src/crashdummy
